/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
    font-family: Arial, sans-serif;
    text-align: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 200px; /* Adjust as needed */
    margin-bottom: 20px;
}

#countdown {
    font-size: 48px;
    font-weight: bold;
    color: black;
}

nav {
    margin-top: 20px;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin: 0 15px;
}
